@import '@src/spa/basic-styles/_mixins.scss';

.login-page {
    @include flex ($direction: column, $gap: 10px, $justify: center, $align: center);
    margin: 0 auto;
}

.btn_for-form {
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fff07f;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: #d1f77f;
  }
}

.login-page__title {
  font-size: 3rem;
  font-weight: 700;
  color: #dc9454;
}