@import '@src/spa/basic-styles/_variables';

.catalog {
  display: flex;
  align-items: start;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1.6rem;
  &__container-fixed{
    width: 20rem;
    background-color: $backgraund-dark;
    padding: 1rem;
    height: 100%;
    @media (max-width:450px){
      width: 13rem;
    }
    
  }
  &__wrapper-categories{
    height: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  &__button-categories{
    background: transparent;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 10px;
    transition: all 0.3s;
    &:hover{
      background-color: $corporate-color;
      color: $backgraund-dark;

    }
  }

  &__button-subategories{
    background-color: $backgraund-dark;
    padding: 0.4rem;
    font-size: 1.4rem;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
      background-color: $corporate-color;
      color: $backgraund-dark;
    }
  }
  &__container-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 20rem;
    flex-grow: 1;
    padding: 1rem;
  }
  &__input-search{
    width: 70%;
    height: 2rem;
  }
  &__button-search{
    width: 10%;
    background-color: $backgraund-dark;
    height: 2rem;
    font-size: 1.4rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s;
    &:hover{
      background-color: $corporate-color;
      color: $backgraund-dark;
    }
  }
  &__button-add-filters, &__button-reset-filters{
    background-color: $backgraund-dark;
    padding: 0.4rem;
    font-size: 1.4rem;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
      background-color: $corporate-color;
      color: $backgraund-dark;
    }
  }
  &__search-section{
    display: flex;
    align-items: center;
  }
  &__category-nesting{
    height: 30px;
    padding: 0.5rem;
    font-size: 1.6rem;
    display: none;
  }
  &__section-subcategories{
    min-height: 2rem;
    display: flex;
    column-gap: 1rem;
  }
  &__section-filter{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    column-gap: 1rem;
    min-height: 2rem;
  }
  &__section-cards-product{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    min-height: 2rem;
    @media (max-width:450px){
      justify-content: center;
    }
  }
  &__section-pagination{
    height: 2rem;
    display: none;
  }
  &__card-product{
    background-color: $backgraund-dark;
  }
  &__wrapper-price{
    display: flex;
    column-gap: 0.5rem;
  }
  &__input-price{
    width: 6rem;
    appearance: none;
  }
  &__checkbox-sale{
    justify-content: flex-end;
    flex-direction: row-reverse;
    column-gap: 0.3rem;
    margin: 0;
  }
  &__sort-alphabet, &__sort-price{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
  &__sort-alphabet-arrow, &__sort-price-arrow {
    font-size: 1.4rem;
  }

}

