$corporate-color: #BE1010;
$indifferent-color: #707070;
$dark: #000000;
$btn-backgraund: #fff07f;
$btn-backgraund-hover: #a1c05f;
$backgraund-dark: #f0deb0;
$backgraund-light: #fffdf5;
$transparent: #00000000;
$light: white;

//pop-up
$pop-up-background: #bfe077;
$pop-up-reject-background: #eb4c4c;
$pop-up-text-color: #584002;

//modal
$modal-background: #dbe9bb;
$modal-scroll-track-background: #80b50d;
$modal-exit-btn-background: #4a2828;
$modal-accept-btn-background: #2c6c2b;

// product page modal
$product-page-underlay-background: #8080804d;
$pagination-bullet-active-color: blue;
$product-page-swiper-background: #80808080;

// scroll compensation min-width
$scroll-compensation-min-width: 900px;