$corporate-color: #BE1010;
$btn-backgraund: #fff07f;
$btn-backgraund-hover: #a1c05f;
$backgraund-dark: #f0deb0;
$backgraund-light: #fffdf5;
$transparent: #00000000;

//pop-up
$pop-up-background: #bfe077;
$pop-up-reject-background: #eb4c4c;
$pop-up-text-color: #584002;

//modal
$modal-background: #dbe9bb;
$modal-scroll-track-background: #80b50d;
$modal-exit-btn-background: #4a2828;
$modal-accept-btn-background: #2c6c2b;