$corporate-color: #BE1010;
$indifferent-color: #707070;
$dark: #000000;
$btn-backgraund: #fff07f;
$btn-backgraund-hover: #a1c05f;
$backgraund-dark: #f0deb0;
$backgraund-light: #fffdf5;
$transparent: #00000000;