@import '@src/spa/basic-styles/mixins';
@import '@src/spa/basic-styles/variables.scss';

.footer{
    width: 100%;
    background-color: $backgraund-dark;

    &-rs-img {
        width: 8rem;
    }
    &-gh-img {
        width: 3rem;
    }
    &__container {
        @include flex($justify: space-between, $align: center);
        padding: 1.5rem 0;
    }
    &__wrapper-link-gh{
        @include flex(row, 10px);
    }
    &__year{
        font-size: 2rem;
    }
}
