@import '@src/spa/basic-styles/mixins';
@import '@src/spa/basic-styles/variables.scss';

.footer{
    width: 100%;
    background-color: $backgraund-dark;

    &-rs-img {
        width: 9rem;
        height: 3.5rem;
        @include background ($src: '@src/assets/footer/rs_school.svg');
    }
    &-gh-img {
        width: 3.5rem;
        height: 3.5rem;
    }
    &__container {
        @include flex($justify: space-between, $align: center);
        padding: 0.5rem 0;
    }
    &__wrapper-link-gh{
        @include flex(row, 10px);
    }
    &__year{
        font-size: 2rem;
    }
}

.footer-link {
    &:nth-child(odd) {
        .footer-gh-img {
            @include background ($src: '@src/assets/footer/github_1.svg');
        }
    }

    &:nth-child(even) {
        .footer-gh-img {
            @include background ($src: '@src/assets/footer/github_2.svg');
        }
    }
}