@import '@src/spa/basic-styles/mixins';

.footer{
    width: 100%;
    &-rs-img {
        width: 8rem;
    }
    &-gh-img {
        width: 4rem;
    }
    &__container {
        @include flex(row, 0, space-between);
        padding: 1rem 0 2rem;
    }
    &__wrapper-link-gh{
        @include flex(row, 10px);
    }
    &__year{
        font-size: 2.4rem;
    }
}
