.password {
  position: relative;
}

.revealer-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  // width: fit-content; // chenged by Kushal
}

.revealer {
  position: absolute;
  top: 0;
  right: 0.2rem;
  height: 2rem; // must be the same value
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &_opened {
    background-image: url("@src/assets/password/eye-open.png");
  }

  &_closed {
    background-image: url("@src/assets/password/eye-close.png");
  }

  &:hover {
    cursor: pointer;
  }
}

.input_password {
  width: 100%;
}