@import '@src/spa/basic-styles/variables.scss';

.input {
    height: 2rem;
    background-color: $backgraund-light;
    border-radius: 0.5rem;
}

.input-wrapper{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2.5rem;
}

.span-error{
    font-size: 1.4rem;
    color: red;
    position: absolute;
    bottom: -2rem;
}