@import '@src/spa/basic-styles/_mixins';
@import '@src/spa/basic-styles/_variables';

.pop-up {
  z-index: 3;
  width: 25rem;
  position: fixed;
  left: calc(50% - 12.5rem);
  bottom: 7.5rem;
  @include flex ($gap: 1rem, $align: center);
  padding: 2rem 1rem 1rem;
  background: $pop-up-background;
  border-radius: 1rem;
  animation: show .5s;

  &_reject {
    background: $pop-up-reject-background;

    .pop-up__text {
      color: $backgraund-dark;
    }
  }

  &_hidden {
    animation: hide .5s;
  }
}

@keyframes show {
  from {
    bottom: 0;
  }
  to {
    bottom: 7.5rem;
  }
}

@keyframes hide {
  from {
    bottom: 7.5rem;
  }
  to {
    bottom: -7.5rem;
    display: none;
  }
}

.pop-up__img {
  display: block;
  width: 4rem;
}

.pop-up__text {
  text-align: center;
  font-size: 1.5rem;
  color:$pop-up-text-color
}

.pop-up__button {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  cursor: pointer;
  border-radius: 100%;
  width: 1.8rem;
  height: 1.8rem;
  background-color: $modal-exit-btn-background;
  color: $backgraund-dark;

  &:hover {
    color: white;
  }
}



