@import '@src/spa/basic-styles/_mixins';
@import '@src/spa/basic-styles/variables.scss';

.header {
  width: 100%;
  background-color: $backgraund-dark;
  &__container {
    @include flex($justify: space-between, $align: center);
    padding: 1rem 0;

    @media screen and (max-width: 500px) {
      @include flex($gap: 1rem, $justify: space-between, $align: flex-start);
    }
  }
  &__logo-link {
    &:hover {
      cursor: pointer;
    }
  }

  &__logo-img{
    width: 8rem;
    height: 3rem;
    @include background ($src: '@src/assets/header/onPlug.png');
  }
}

._hidden {
  display: none !important; // don't delete, this is for navigation hiding
}

.humburger-menu{
  width: 30px;
	height: 30px;
	position: fixed;
  top: 5px;
  right: 10px;
	z-index:4;
	overflow: hidden;
  display: none;
  @media (max-width: 768px){
    display: block;
  }
}

.humburger-menu span{
  width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.humburger-menu span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.humburger-menu span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.humburger-menu.active span:nth-of-type(1) {
  display: none;
}
.humburger-menu.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.humburger-menu.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}