<div class="about-us__memers">
  <h2 class="about-us__title">Team members</h2>

  <div class="about-us__members-cards">

    <div class="card">
      <img src="../../../../assets/about-us/leanid.jpg" alt="photo" class="card__img">
      <div class="card__content">
        <h3 class="card__title">Leanid Rymkevich</h3>
        <h4 class="card__subtitle">Team Lead</h4>
        <div class="card__text">
          <p>30 years old, Minsk, Belarus.</p>
          <p>Has a higher engineering education. Graduated from the Belarusian National Technical University with a degree in power plants</p>
          <p>My first programming language was Fortran back in university. After graduating, I studied Java for about six months and took
             a basic course, but circumstances did not allow me to go further in this direction, although I really liked the language. 
             Since December 2022, I have been studying the front-end at RS School, and I plan to advance as a developer further
             in this direction.</p>
        </div>
        <a href="https://github.com/leanidrymkevich" target="_blank" class="card__link link">
          <span class="link__img"></span>
          <span class="link__text">LeanidRymkevich</span>
        </a>
      </div>
    </div>

    <div class="card">
      <img src="../../../../assets/about-us/andrei.jpg" alt="photo" class="card__img">
      <div class="card__content">
        <h3 class="card__title">Andrei Kochetov</h3>
        <h4 class="card__subtitle">Specialist in disputes with Commercetools</h4>
        <div class="card__text">
          <p>25 years old, Saratov, Russia.</p>
          <p>Has a higher legal education. Graduated from Saratov State Law Academy.</p>
          <p><i>I have been considering becoming a programmer for a long time and therefore decided to try myself in this direction.
            I liked the front-end development of its visual component; you can create beautiful and modern websites.
            I’ve been studying frontend for 10 months now and there’s still a lot of interesting things ahead.</i></p>
        </div>
        <a href="https://github.com/andrei-kochetov" target="_blank" class="card__link link">
          <span class="link__img"></span>
          <span class="link__text">Andrei-Kochetov</span>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="about-us__contributions">
  <h2 class="about-us__title">Contributions</h2>

  <div class="about-us__container">
    <h3 class="about-us__subtitle">Leanid Rymkevich</h3>
    <p class="about-us__text">
      In the project, he was responsible for organizing work on the project, the architecture of the application,
      its general appearance, integrating the logic of working with the Commerce Tools API and user interface, and routing. His work is 
      also the visual component of the login, product, cart, and about us pages.
    </p>
  </div>

  <div class="about-us__container">
    <h3 class="about-us__subtitle">Andrei Kochetov</h3>
    <p class="about-us__text">
      First of all, this is the person thanks to whom this application is able to interact with Commerce Tools.
      His patience, perseverance and work made it possible to call the result of this project exactly as an application
      that works with the backend, and not just a set of pages. His brainchild is also validation, the visual component
      of registration and catalog pages.
    </p>
  </div>
</div>
<div class="about-us__collaboration">
  <h2 class="about-us__title">Collaboration</h2>
  <p class="about-us__text">
    Interaction between team members took place through communication in the Discord channel, periodic meetings in Google Meetup,
    and checking each other’s PR in Github.
  </p>
  <p class="about-us__text">
    When checking each other's PR, attention was paid to errors, ways to improve functionality, and the quality of code writing.
    Also, when checking, the Team Lead, being a native of the Java language, steadily imposed his vision of writing code in the OOP style.
  </p>
  <p class="about-us__text">
    During online meetings, issues of the visual side of the project and its interaction with logic were discussed.
    In addition to the discussion, layouts of pages drawn in non-programmer style in Paint and the distribution of
    tasks in Word were also offered here. Also, significant time at the meetings was devoted to discussing everyday
    issues, plans for the future and just for jokes.
  </p>
  <p class="about-us__text">
    Dividing the tasks of each stage into the areas of responsibility of each team member made it possible to speed up
    development and find strengths and weaknesses in coding for each team member.
  </p>
  <p class="about-us__text">
    As a result of team work was this application.
  </p>
</div>